@tailwind base;

@layer base {
  :root {
    --neutral-900: #171717;
    --blue-400: #60a5fa;
  }

  body {
    @apply bg-neutral-900 text-neutral-100 font-sans text-base;
  }

  h1,
  h2 {
    word-wrap: break-word;
  }

  @supports (scrollbar-color: var(--blue-400) var(--neutral-900)) {
    * {
      scrollbar-width: thin;
      scrollbar-color: var(--blue-400) var(--neutral-900);
    }
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    @apply bg-neutral-900 w-2;
  }

  *::-webkit-scrollbar-track {
    @apply my-2;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-[100vw] bg-blue-400;
  }

  *,
  *::before,
  *::after {
    @apply box-border;
  }

  picture {
    @apply block align-middle;
  }

  picture,
  svg {
    @apply max-w-full h-auto;
  }

  input[type="checkbox"]:checked::before {
    @apply absolute w-4 h-4 bottom-1;
    filter: invert(96%) sepia(100%) saturate(17%) hue-rotate(244deg)
      brightness(104%) contrast(105%);
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-check' width='16' height='16' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M5 12l5 5l10 -10' /%3E%3C/svg%3E%0A");
  }
}

@tailwind components;

@layer components {
  .container {
    @apply w-[min(100%-3rem,_70rem)] mx-auto;
  }

  .container-wide {
    @apply w-[min(100%-3rem,_90rem)] mx-auto;
  }
}

@tailwind utilities;
