@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@tailwind base;

@layer base {
  :root {
    --neutral-700: #404040;
    --blue-400: #60a5fa;
  }

  body {
    @apply bg-body text-neutral-100 font-sans-1 text-base;
  }

  @supports (scrollbar-color: var(--blue-400) var(--neutral-700)) {
    * {
      scrollbar-width: thin;
      scrollbar-color: var(--blue-400) var(--neutral-700);
    }
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    background: var(--neutral-700);
    width: 0.5rem;
  }

  *::-webkit-scrollbar-track {
    margin-block: 0.5rem;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--blue-400);
    border-radius: 100vw;
  }

  *,
  *::before,
  *::after {
    @apply box-border;
  }

  picture {
    @apply block align-middle;
  }

  picture,
  svg {
    @apply max-w-full h-auto;
  }
}

@tailwind components;

@layer components {
  .container {
    @apply w-[min(100%-3rem,_70rem)] mx-auto;
  }
}

@tailwind utilities;

.custom-shape-divider-top-1701525998 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1701525998 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1701525998 .shape-fill {
  fill: #171717;
}
